footer {
  p {
    font-size: 12px;
    text-align: center;
    margin-bottom: 0px;
    height: 22px;
  }

  hr {
    border: 0.5px solid grey;
  }

  p.company {
    margin-top: 15px;
    color: rgb(0, 102, 153);
    text-transform: uppercase;
    font-size: 16px;
    height: 25px;
  }
}