// Banner
.banner {
  height: 180px;
  background-image: url("/banner.jpg");
  width: 100%;
}

.logo img {
  background-repeat: no-repeat;
  width: 106px;
  height: 86px;
  margin-top: 24px;
  margin-left: 30px;
}

.content {
  h1.display-4 {
    margin-top: 25px;
    margin-bottom: 0px;
    font-size: 35px;
    color: red;
    font-weight: 700;
  } 

  p.lead {
    color: yellow;
    font-style: italic;
    font-size: 18px;
    font-weight: 700;
    padding-left: 0;
  }

  p {
    margin: 0;
    font-size: 15px;
  }
}

// Navigator

.navigator {
  height: 35px;
  background-color: rgb(70, 130, 100);
  font-size: 12.8px;
  font-weight: 400;

  a {
    color: yellow;
    min-width: 110px;
    text-transform: uppercase;
  }

  a:hover {
    background-color: #008686;
  }

  .dropdown-menu {
    border-radius: 0;
    background-color: rgb(70, 130, 100);
    margin: 0;
    padding: 0;

    .dropdown-item {
      height: 30px;
      padding: 6px 10px;
      font-size: 12px;
    }
  }

  li.auth {
    float: right;
  }

  li.separator {
    width: 100px;
  }
}
